.content{
display: flex;
width: 25%;
border: 2px dotted black;
}
.one{
    width: 100px;
    height:100px;
    background-color: aqua;
}
.two{
    width: 100px;
    height:100px;
    background-color: blue;
    position: absolute; 
    top: 20px;
    left: 30px;
}
.three{
    width: 100px;
    height:100px;
    background-color: purple;
    top: 20px;
    left: 30px; 
}

.four{
    width: 100px;
    height: 100px;
    background-color: darkslateblue;
    top: 20px;
    left: 30px;
}