
.c_block08 {
    display: block;
    width: 100%;
    background-color: white;
    padding-bottom: 50px;
}

.c_subtitle {
    width: 100%;
    height: 60%;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-inline: auto;
}

h2 {
    color: #741d66;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: normal;
    font-size: x-large;
    }

.c_line {
    width: 100%;
    padding-bottom: 0px;
    margin-inline: auto;
}

hr{
    height: 1px;
    width: 100px;
    background-color: #741d66;
}

.c_formbox08 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0fr 0fr;
    padding: 5px 150px 5px 150px;
}

.c_formcontact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0fr 0fr;
}

.c_fmessage {
    display: block;
    margin: 0px 10px 0px 20px;
}

.c_txtmessage {
    display: block;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.c_imgbox08 {
    text-align: right;
}

.c_sendbutton {
display: block;
margin-inline: auto;
background-image: linear-gradient(to top, #f60093, #a70d94);
border: 1px solid #a70d94;
border-radius: 20px;
color: #ffffff;
padding: 10px 20px 10px 20px;
width: 30%; 
}

.c_txtfname {
    width: 100%;
    margin-bottom: 10px;
}

.c_txtlname {
   width: 100%;
   margin-bottom: 10px;
}

.c_txtphone {
   width: 100%;
   margin-bottom: 10px;
}

#fname, #lname, #phone {
    width: 200px;
    color: black;
    padding: 3px 3px;
    margin: 3px 3px;
    border: 1px solid black; 
    border-radius: 4px;
}

footer {
    background-color: #3a0659;
}
.c_lfnavbar {
    margin: 0;
    padding: 20px;
    padding-left: 20px;
    list-style-type: none;
}
.c_lfnavbar li {
    display: inline;
}
.c_lfnavbar li a {
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: white;
    padding: 20px;
}
.c_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr;
}

.c_socialnetwork {
    margin-inline: auto;
    padding: 20px;
}

.c_rights {
    text-align: right;
    color: white;
    margin: 0px;
    padding: 20px;
}
