.solid {
    border-style: solid;
    border-color:red;
    border-width: 4px;
}
.dashed {
    border-style: dashed; 
    border-color: black;
    border-top-width: 2px;
    border-right-width: 20px;
    border-bottom-width: 6px;
    border-left-width: 15px;
}