.fondo {
    /* background-color: rgba(255, 0, 0); */
    height: 400px;
    background-image: url("../assets/coffee.png");
    background-size: 200px 200px;
    background-repeat: repeat-y;
    background-position: center bottom;
}

h1 { color: blue;}