
ul {
    list-style-type: square;
    border: 4px solid black;
    background-color: red;
    /* letter-spacing: 20px; */
    font-size: larger;
    padding: 20px;
 }
li {
    border: 2px solid blue;
    background-color: #ee7969;
    margin: 5px;
}

 